# yarn 
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# mac
.DS_Store

# js
node_modules
packages/**/lib

.env
micro-controller/app/LFS_float_smart_irrigation.img
micro-controller/app/spiffs/variables.lua